@model MangaLibApp.Models.AuthorViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
    <th></th>
    </tr>

    <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Surname)
        </td>
            <td>
                @foreach (var item in Model.WrittenMangas)
                {
                    @Html.DisplayFor(modelItem => item.Title)
                     @Html.DisplayFor(modelItem => item.Cover)
                }
            </td>
    </tr>
</table>
